body {
  margin: 0;
}

p {
  margin: 0;
  padding: 5px;
}

.app_navigation {
  background-color: aquamarine;
  display: flex;
  padding: 20px;
}

.app_navigation_links {
  margin-right: 30px;
  font-weight: bold;
}

.app_navigation_links:hover {
  cursor: pointer;
  text-decoration: underline;
}

.dark-bkg {
  background-color: #eee;
}

.container {
  margin: 5% 40% 40%;
}

.search-input {
  width: 75%;
  margin-bottom: 10px;
}

.icon {
  height: 100px;
  object-fit: cover;
}

@media (max-width: 900px) {
  .container {
    margin: 0 10%;
  }
}
